# Database configuration
DATABASE_URL=DATABASE_URL=postgresql://localhost/finance_db

# API Keys
SEC_API_KEY=62326fc7242c51ea743970f86fd7e1c5fbfaeba21366c8fecc58979a2b0d6759
ALPHA_VANTAGE_API_KEY=9C7154XXNXWZ8VAT

# Logging configuration
LOG_LEVEL=INFO